# Railway fournit generalement MYSQL_URL directement (a copier depuis l'onglet "Variables" du service MySQL)
MYSQL_URL=mysql://user:password@host:port/database

# Sinon, variables separees (utilisees si MYSQL_URL n'est pas defini)
MYSQLHOST=127.0.0.1
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=
MYSQLDATABASE=fromagerie
